<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:fo="http://typo3.org/ns/Ps14/Foundation/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />
	<f:section name="Main">
		<script>
			xna.settings.charts = xna.settings.charts || {};
			xna.settings.charts[{identifier}] = {};
			xna.settings.charts[{identifier}].data = {fo:json.encode(value: configuration)};
			xna.settings.charts[{identifier}].options = {fo:json.encode(value: settings.chart)};
		</script>
	</f:section>
</html>