<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:xo="http://typo3.org/ns/Ps/Xo/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
	<div class="chart chart--line-chart" data-identifier="{data.uid}">
		<div class="chart--container">
			<canvas class="chart--canvas" height="400"></canvas>
		</div>

		<div class="chart--legend">
			<f:render partial="Chart/Legend" section="Main" arguments="{chart: chart.object}" />
		</div>
	</div>
</f:section>
</html>