<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-chart" >
	<tr>
		<td>
			<f:translate key="tx_chart_domain_model_chart.title" />
		</td>
		<td>
		{chart.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_chart_domain_model_chart.alternative_title" />
		</td>
		<td>
		{chart.alternativeTitle}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_chart_domain_model_chart.label_axis_x" />
		</td>
		<td>
		{chart.labelAxisX}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_chart_domain_model_chart.label_axis_y" />
		</td>
		<td>
		{chart.labelAxisY}
		</td>
	</tr>
</table>
</html>
